@page "/"
@page "/home/{entityId?}"

@using FactographData
@using FactographData.r

@inject FactographData.IFDataService db
@inject NavigationManager navManager

<Family.Components.Info/>

<p>Электронный архив, документы, сайт, информация</p>


@code {
    [Parameter]
    public string? entityId { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //navManager.NavigateTo("/view/", true);
    }
}
