@page "/"
<h3>Index</h3>
<div><NavLink href="gene">Родословная семьи Марчуков/Беляевых/Кириковых и др</NavLink></div>
<div><NavLink href="gene/famwf1233_1001">Семейное дерево Марчука Г.И.</NavLink></div>
<div><NavLink href="edit">Редактировать базу данных</NavLink></div>


@code {

}
