@page "/"
@page "/home/{entityId?}"

@using FactographData
@using FactographData.r

@inject FactographData.IFDataService db
@inject NavigationManager navManager

<Family.Components.Info/>

<div><NavLink href="/view/"> View </NavLink></div>
<div><NavLink href="/view/start2023"> Начало </NavLink></div>
<div><NavLink href="/look/an_cass_cassetteId">Кассета семьи А.Н.Марчука</NavLink></div>
<div><button @onclick="Reload">Перезагрузить!</button></div>
<div>@look @ok</div>
@code {
    [Parameter]
    public string? entityId { get; set; }

    private string look;
    private string ok;
    private void Reload()
    {
        look = "reloading";
        db.Reload();
        ok = "ok";
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
