@page "/start"
@inject FactographData.IFDataService db

<div style="font-size:large;">
    <NavLink href="look/famwf1234_1120">Текущий</NavLink> |
    <NavLink href="gene/famwf1233_1001">gene Марчук Г.И.</NavLink> |
    <NavLink href="gene">Родословная</NavLink> |
    <NavLink href="view/cassetterootcollection">Кассеты с документами</NavLink> |

    <NavLink href="view">Просмотр</NavLink> |
    <NavLink href="edit">Редактирование</NavLink>
</div>