@page "{id?}/{idd?}"
@using Factograph.Data
@using Factograph.Data.r
@model IndexModel

@{
    Rec? tree = Model.tree;
}

@if (tree != null)
{
    <div class="text-center">
        Это Index tree
    </div>
}
