@using FTTree.Data
@using FactographData.r;
@using FactographData;
@implements ICellComponent
@inject FactographData.IFDataService db

@if (property is Tex)
{
    var value = db.GetLangText(property);
    if (isEdited)
    {
        var langIndex = GetLangIndex(((Tex)property).Values, MainLayout.currentLanguage);
        if (langIndex == -1)
        {
            TextLan[] newTextLanArray = new TextLan[((Tex)property).Values.Length + 1];
            ((Tex)property).Values.CopyTo(newTextLanArray, 0);
            newTextLanArray[((Tex)property).Values.Length] = new TextLan("", MainLayout.currentLanguage);
            langIndex = ((Tex)property).Values.Length;
            ((Tex)property).Values = newTextLanArray;
        }
        <td><input type="text" @bind-value="@(((Tex)property).Values[langIndex].Text)" /></td>
    }
    else
    {
        if (value != null)
        {
            <td>@value</td>
        }
        else
        {
            <td></td>
        }
    }
}

@code {
    [Parameter]
    public bool isEdited { get; set; }

    [Parameter]
    public Pro property { get; set; }

    private int GetLangIndex(TextLan[] textLans, string value)
    {
        return value == null ? 0 : Array.FindIndex(textLans, (t => t.Lang == value));
    }
}
