@using FactographData
@using FactographData.r;
@inject FactographData.IFDataService db

<div>
@if(imagesource != null)
{
    <a href='/look/@(tree?.Id)'><img src='@(imagesource)' style='float:left; margin:6px;'/></a>
}
<div>
    <span>@(name)</span>
    <span>@(description)</span>
    <span>@(startDate)</span>
    @if (tolook != null)
    {
        <span>[@(tolook)]</span>
    }
</div>
</div>

@code {
    [Parameter]
    public Rec? tree { get; set; }

    private Pro[] pro = new Pro[0]; 
    private string? uri = null; 
    private string? doctype = null;
    private string? imagesource = null;  
    private string? name = null;
    private string? description = null;
    private string? startDate = null;
    private string? tolook = null;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (tree == null) return;
        pro = tree.Props;
        foreach(var p in pro)
        {
            if (p.Pred == "http://fogid.net/o/uri") 
            {
                uri = ((Str)p).Value;
            }
            else if (p.Pred == "http://fogid.net/o/docmetainfo") 
            {
                string? docmetainfo = ((Str)p).Value;
                string? dmi = docmetainfo?
                .Split(';')
                .FirstOrDefault(s => s.StartsWith("documenttype"));
                doctype = dmi?.Substring("documenttype".Length + 1);
            }
            else if (p.Pred == "http://fogid.net/o/name" && ((Tex)p).Values.Length > 0)
            {
                name = ((Tex)p).Values[0].Text;
            }
            else if (p.Pred == "http://fogid.net/o/description" && ((Tex)p).Values.Length > 0)
            {
                description = ((Tex)p).Values[0].Text;
            }
            else if (p.Pred == "http://fogid.net/o/from-date" && ((Str)p).Value != null)
            {
                startDate = ((Str)p).Value;
            }
        }
        // Вычисление imagesource
        if (doctype == null) { }
        else if (tree.Tp == "http://fogid.net/o/photo-doc" && doctype == "image/jpeg")
        {
            imagesource = "docs/GetImage?u=" + uri + "&s=small";
        } 
        else if (tree.Tp == "http://fogid.net/o/video-doc" && doctype.StartsWith("video"))
        {
            imagesource = "/images/video_m.jpg";
        }
        else if (tree.Tp == "http://fogid.net/o/audio-doc" && doctype.StartsWith("audio"))
        {
            imagesource = "/images/audio_m.jpg";
        }
        else if (tree.Tp == "http://fogid.net/o/document" && doctype == "application/pdf")
        {
            imagesource = "/images/PDF_m.jpg";
        }
        else
        {
            tolook = doctype;
        } 
    }


}
