@using Family.Authentication;
@using Family.Models;
<h3>PortraitView</h3>
@if (appState != null)
{
    <div>U:@(appState.UserName) R:@(appState.Regime)</div>
}

@code {
    [Parameter]
    public AuthState appState { get; set; } = new AuthState();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
