#bin
ConsoleTest/bin
Factograph.Data/bin
SypBlazor/bin

obj
.vs
#/FTTree/wwwroot/config.xml
#/Factoria/wwwroot/config.xml
#/Family/wwwroot/config.xml
logfile_put.txt
/SypBlazor/wwwroot/config.xml
#/SypBlazor/wwwroot/logfile_put.txt
#/ConsoleTest/wwwroot/config.xml
/SypBlazor/appsettings.json
