bin
# ConsoleTest/bin
# CassConsoleApp/bin
# Factograph.Data/bin
# Factograph/bin
# FactographSbor/bin
# SypBlazor/bin
# Publicuem2/bin
# Soran1957/bin
# S1957/bin
# CorrectFogs/bin
# CassCorrect/bin

obj
.vs
#/FTTree/wwwroot/config.xml
#/Factoria/wwwroot/config.xml
#/Family/wwwroot/config.xml
logfile_put.txt
/SypBlazor/wwwroot/config.xml
#/SypBlazor/wwwroot/logfile_put.txt
#/ConsoleTest/wwwroot/config.xml
/SypBlazor/appsettings.json
/Tres/wwwroot/config.xml
/Uno/wwwroot/config.xml
/OpenA/wwwroot/config.xml
/SypBlazor/wwwroot/Users.xml
