@page "/about"

    <h3>Варианты входа</h3>
    <ul>
        <li><a href="index/start_page">Стартовая страница</a> с набором фондов. Далее двигаться по ссылкам</li>
        <li>Набрать поисковый запрос в формате начало ФИО или начало названия, выбрать из вариантов, далее по ссылкам</li>
        <li><a href="index/cassetterootcollection">Кассеты (первичные материалы)</a></li>
        <li>Найти персону и посмотреть в режиме "семья" или в режиме "семейное дерево"</li>
    </ul>
    <h3>Варианты участия в проекте</h3>
    <ul>
        <li>Написать письмо модератору <a href="mailto:mag@iis.nsk.su">Марчуку Александру Гурьевичу</a>. Замечания и предложения приветствуются.</li>
        <li>Прислать модератору документы и информацию, соответствующие теме архива куста семей и персон, близких Гурию Ивановичу и Ольге Николаевне Марчук</li>
        <li>Пройти небольшое обучение и получить полномочия редактирования информации архива</li>
    </ul>
