@using System.Collections.Generic
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<NavLink class="nav-link" href="portrait/syp2001-p-marchuk_a">
    <span class="oi" aria-hidden="true"></span> Mag
</NavLink>

<FTTree.Components.Search></FTTree.Components.Search>