@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq

@inject FactographData.IFDataService db
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<NavLink class="nav-link" href="portrait/syp2001-p-marchuk_a">
    <span class="oi" aria-hidden="true"></span> Mag
</NavLink>

<div>
    <input @bind="searchsample" style="height:24px; margin-top:10px;margin-bottom:10px;" />
    <select @bind="searchtype" style="height: 24px; margin-top: 10px; margin-bottom: 10px; ">
        <option value=""></option>
        @foreach (var typ in typs.Where(t => db.ontology.LabelOfOnto(t) != null)) //TODO: Надо бы более корректно...
        {
            <option value="@typ">@(db.ontology.LabelOfOnto(typ))</option>
        }
    </select>
    <span>расш.<input type="checkbox" @bind="extended" /></span>
</div>
@if (!string.IsNullOrEmpty(searchsample))
{
    IEnumerable<XElement> items;
    if (extended)
    {
        items = db.SearchByWords(searchsample);
    }
    else
    {
        items = db.SearchByName(searchsample);
    }
    if (!string.IsNullOrEmpty(searchtype))
    {
        items = items.Where(it => it.Attribute("type").Value == searchtype);
    }
    foreach (XElement item in items)
    {
        string idd = item.Attribute("id").Value;
        string tp = item.Attribute("type").Value;
        string nm = item.Elements("field")
            .FirstOrDefault(f => f.Attribute("prop").Value == "http://fogid.net/o/name")?.Value;
        <div>@tp <a href="portrait/@(idd)"> @(nm) </a></div>
    }
@*    var q2 = db.GetItemByIdBasic("famwf1233_1001", false);
    <pre>@(q2.ToString())</pre>
*@
}
<div>
    @look
</div>

@code{
    private string searchsample = "";
    private string searchtype = "";
    private string[] typs = new string[] { "http://fogid.net/o/person" };
    private bool extended = false;
    private string look = "";
    private void SampleChanged()
    {
        look = "Hello!";        
    }
}