<?xml version="1.0" encoding="utf-8" ?>
<config>
<!--  
	<database connectionstring="rr:C:\Home\CoreSites\S1957Database\"/>
	<LoadCassette>C:\Home\FactographProjects\PA_folders01-20</LoadCassette>
	<LoadCassette>C:\Home\FactographProjects\Cassette_20211014</LoadCassette>
	<LoadCassette write="true">C:\Home\FactographProjects\usr_tester</LoadCassette>
-->
  <database connectionstring="rr:D:\Home\CoreSites\S1957Database\"/>
  <LoadCassette>E:\FactographProjects\PA_cassettes\PA_folders01-20</LoadCassette>

</config>