@page "/"

<h2>Factograph, стартовая страница</h2>
<div><a href="bbox">Blazor boxes</a></div>
<div><a href="home/index">Razor pages</a></div>
<div><a href="view/portrait">Razor view pages</a></div>
<div></div>


