@page "/room216/"
@inject NavigationManager navManager
@inject Factograph.Data.IFDataService db
<h1>Административная страница</h1>
<div>
    <NavLink @onclick="Reload" href="javascript:void(0)">Перезагрузить!</NavLink>
    @if (loaddone)
    {
        <button @onclick="OkButton">ok</button>
    }
</div>

<div>
    <NavLink @onclick="SpecComm" href="javascript:void(0)">Special command</NavLink>
</div>

@code{
    private bool loaddone = false;
    private void Reload()
    {
        db.Reload();
        loaddone = true;
    }
    private void OkButton()
    {
        loaddone = false;
        navManager.NavigateTo("index", true);       
    }
    private void SpecComm()
    {
        using System.Diagnostics.Process process1 = new System.Diagnostics.Process();
        {
            process1.StartInfo.FileName = @"shutdown";
            process1.StartInfo.ArgumentList.Add("/r");

            process1.Start(); //запускаем процесс
            process1.WaitForExit(); //ожидаем окончания работы приложения, чтобы очистить буфер
        }
    }
}