@page
@model IndexModel
@{
    IndexModel m = Model;
    ViewData["Title"] = "Home page";
    string tp = "http://fogid.net/o/person";
    string id = m.id ?? "";
    string ss = m.ss ?? "";
    bool bywords = m.bywords;
}
    <h2>@id</h2>
    <div style='margin-top:20px;'>
        <form method='get' action=''>
            <input name ='ss' value='@ss' />
            <select name ='tp' >
                <option value='' ></option>
                @if (tp == "http://fogid.net/o/person")
                {
                    <option value='http://fogid.net/o/person' selected='selected'>персона</option>
                }
                else
                {
                    <option value='http://fogid.net/o/person'>персона</option>
                }
                if (tp == "http://fogid.net/o/org-sys")
                {
                    <option value='http://fogid.net/o/org-sys' selected='selected'>орг.сист.</option>
                }
                else
                {
                    <option value='http://fogid.net/o/org-sys'>орг.сист.</option>
                }
                if (tp == "http://fogid.net/o/collection")
                {
                    <option value='http://fogid.net/o/collection' selected='selected'>коллекция</option>
                }
                else
                {
                    <option value='http://fogid.net/o/collection'>коллекция</option>
                }
            </select>
            <span>словами<input type='checkbox' name='bw' @(bywords ? "checked" : "")  /></span>
            <input type='submit' value='искать' />    
        </form>
    </div>

    <div style='margin: 20px 0px 20px 0px'>
         @Html.Raw((m.selectsbor ?? new System.Xml.Linq.XElement("div")).ToString())
    </div>

    <div> 
        @Html.Raw(m.portrait ?? "")
    </div>
