@using FactographData
@using FactographData.r
@inject FactographData.IFDataService db

<MatBlazor.MatCard>
    <MatBlazor.MatCardContent>
        <MatBlazor.MatCardMedia Wide="true" ImageUrl="@(PhotoUrl)"></MatBlazor.MatCardMedia>
        <div class="demo-mat-card-content">
            <MatBlazor.MatSubtitle2 class="demo-mat-card-clean-margin">
                @(Name)
            </MatBlazor.MatSubtitle2>
        </div>
 
        <MatBlazor.MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            @(Text)
        </MatBlazor.MatBody2>
    </MatBlazor.MatCardContent>

</MatBlazor.MatCard>

@code {
    [Parameter]
    public string Prolog { get; set; } = "";
    [Parameter]
    public string Epilog { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public string Text { get; set; } = "";
    [Parameter]
    public string Reference { get; set; } = "";
    [Parameter]
    public string PhotoUrl { get; set; } = "";
    [Parameter]
    public string Regime { get; set; } = ""; //photo, coll, doc

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
