@inherits LayoutComponentBase

<PageTitle>FTTree</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginControl />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
@code {
    // Default variables. TODO: move elsewhere
    public static string defaultNameProp = "http://fogid.net/o/name";
    public static string defaultLanguage = "ru";
    public static string defaultObjectProp = "http://fogid.net/o/sys-obj";
    public static string editMode = "edit";
    public static string viewMode = "view";
}