@inherits LayoutComponentBase

@*<PageTitle>Family</PageTitle>
*@
<div class="">
@*    <div>
        <div style="float:right; width: 100px;">
            <a href="/gene">Генеалогия</a> |
            <a href="/edit">Редактирование</a> |
            <a href="/edit"></a>
            <a href="">Меню 4</a>
        </div>
        <div>
            <a href="/"><span class="oi oi-home" aria-hidden="true"></span> Home</a> &nbsp;

        </div>
    </div>
*@
@*    <div class="">
        <div class="content px-4">
            @Body
        </div>
    </div>
*@
    @Body
</div>
