@page
@{    
}
<p class="grad">
	<a href="Default.cshtml" class="nov"><img src="img/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
	&raquo;
	Контакты
</p>

<partial name="PageContacts.cshtml" />

@section rightpanel {
	<partial name="../PageUseLinks.cshtml" />
}

