@page "/index/{id?}/{idd?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    IndexModel m = Model;
}

<div class="text-center">
    id = @(m.id) 
    idd = @m.idd
    ss = @m.ss
    sv = @m.tp
</div>
http://mag.iis.nsk.su/OpenA/Index/Default.cshtml