@{
    //Page.Title = "Заголовок";
    //Layout = "Страница макета";
}


<div class="heading1"> 
	<h1>Контакты</h1>
</div>

<h2>Научный руководитель проекта</h2>

<ul class="staff">
<li><span>Александр Гурьевич Марчук, д.ф .- м.н. ИСИ СО&nbsp;РАН<br />
	<a href="mailto:mag@iis.nsk.su">mag@iis.nsk.su</a></span></li>
</ul>

<h2>Ученый секретарь проекта</h2>
<ul class="staff">
<li><span>Ирина Александровна Крайнева, к.и.н. ИСИ СО&nbsp;РАН<br />
	<a href="mailto:cora@iis.nsk.su">cora@iis.nsk.su</a></span></li>
</ul>
        
<h2>Ответственный исполнитель проекта</h2>
<ul class="staff">
<li><span>Ирина Юрьевна Павловская, ИСИ СО&nbsp;РАН<br />
	<a href="mailto:pavl@iis.nsk.su">pavl@iis.nsk.su</a></span></li>
</ul>
	
<h2>Исполнители проекта</h2>

<div class="block-50">
	<ul class="staff">
		<li><span>Марина Васильевна Аюшеева, к.и.н. ЦВРК ИМБТ СО&nbsp;РАН</span></li>
		<li><span>Сергей Александрович Батурин, к.и.н. ИМБТ СО&nbsp;РАН</span></li>
                <li><span>Аркадий Викторович Бауло, д.и.н. ИАЭТ СО&nbsp;РАН<br /></li>
		<li><span>Андрей Юрьевич Бородихин, к.филолог.н. ГПНТБ СО&nbsp;РА</span>Н</li>
		<li><span>Светлана Валерьевна Бураева, д.и.н. ИМБТ СО&nbsp;РАН</span></li>
		<li><span>Владимир Митапович Васильев, ИМБТ СО&nbsp;РАН</span></li>
                <li><span>Борис Степанович Елепов, д.т.н. ГПНТБ СО&nbsp;РАН<br /></li>
	</ul>							
</div>
<div class="block-50">
	<ul class="staff">

		<li><span>Лариса Николаевна Демина, ИСИ СО&nbsp;РАН</span></li>
		<li><span>Светлана Ивановна Жуковская, ИСИ СО&nbsp;РАН</span></li>
		<li><span>Алексей Александрович Фурсенко, ИСИ СО&nbsp;РАН</span></li>
		<li><span>Зоя Абрамовна Черкасская, ИСИ СО&nbsp;РАН</span></li>
		<li><span>Андрей Васильевич Шабанов, ГПНТБ СО&nbsp;РАН</span></li>
                <li><span>Ольга Николаевна Шелегина, д.и.н. ИИ&nbsp;СО&nbsp;РАН</span></li>
			</ul>
</div>
<br clear="all" />

<br /><img src="img/line-dotted.gif" width="150" height="1" alt="" />

<p>См. также:</p>
<ul class="also">
	<li><a href="About.cshtml">О проекте</a></li>
	<li><a href="Participants.cshtml">Участники проекта</a></li>
</ul>
