@{
    //Page.Title = "Заголовок";
    //Layout = "Страница макета";
}


	<div class="heading3"> 
		<h3>О проекте</h3>
	</div>
	<p class="small">
		<b class="drop-cap">П</b>роект 
		базируется на&nbsp;идеологии синтеза гуманитарных наук &nbsp;и информационных технологий. Для введения в&nbsp;научный оборот широкого круга исторических источников создано специализированное информационно-коммуникативное пространство&nbsp;&mdash; Открытый электронный архив СО&nbsp;РАН.
	</p>
	<p class="small">
		Такая форма представления источников расширяет сферу приложения информационных технологий как средства визуализации артефактов, удобной среды для работы с&nbsp;архивными и&nbsp;музейными материалами, их&nbsp;систематизации и&nbsp;атрибутирования.
	</p>
		<p class="small"><a href="About">Подробнее<img src="img/arrow.png" class="ico-arrow" alt="&raquo;" /></a></p>

		<br />
