@page
@using Factograph.Data

@model OpenA.Pages.SearchModel
@{
    ViewData["Title"] = "Search page";
    SearchModel m = Model;
}

@if (m.search_results.Length > 0)
{
    <div>
        <p class="grad">
            <a href="/" class="nov"><img src="img/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
            &raquo;
            
        </p>
            @{
                var sresults = m.search_results
                        .Select(r => new Tuple<RRecord, string>(r, r.GetName()))
                        .OrderBy(rn => rn.Item2)
                        .Select(rn => rn.Item1)
                    .ToArray();
            <span>Результаты поиска: @(sresults.Count())</span>
            <ul class="links">
                @foreach (RRecord rr in sresults)
                {
                    string nm = rr.GetName();
                    string dt = rr.GetDates();
                    string? descr = rr.GetField("http://fogid.net/o/description");
                    <li>
                        <a href='?id=@(rr.Id)' ).Value'>@nm</a>
                        @if (!string.IsNullOrEmpty(dt))
                        {
                            <span>(@dt)</span>
                        }
                        @descr
                    </li>
                }
            </ul>
        }
    </div>
}


